@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply text-paragraph font-primary;
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-bold text-heading;
    }
    h1{
        @apply text-5xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-3xl;
    }
    h4{
        @apply text-2xl;
    }
    h5{
        @apply text-xl;
    }
    h6{
        @apply text-lg;
    }
    p{
        @apply md:text-lg text-base leading-6 text-paragraph font-secondary;
    }
    input, textarea {
        @apply w-full text-base font-secondary py-4 px-4 rounded-xl outline-none focus-visible:outline-none bg-white;
    }
    a{
        @apply inline-block;
    }
    label{
        @apply w-full;
    }
    li{
        @apply font-medium md:text-base text-sm leading-6 text-paragraph cursor-pointer;
    }
}

@layer components{
    button{
        @apply px-10 py-2 rounded-lg text-xl font-semibold inline-block;
    }
    .btn{
        @apply md:px-6 px-4 md:py-4 py-3 rounded-lg text-xl font-bold inline-block;
    }
    .btn-primary{
        @apply text-white bg-primary hover:shadow-lg;
    }
    .btn-secondary{
        @apply text-white bg-secondary;
    }
}

/* slider */



.footers li, p {
    @apply text-[#8d8d8d];
}
.footers li {
    @apply mb-3 hover:text-primary duration-300;
}

/* ------------- Menu ----------------- */

/* .menu-bar.active span:nth-child(1) {
	transform: rotate(45deg) translateX(7px) translateY(5px);
    transition: all .5s;
}

.menu-bar.active span:nth-child(2) {
	opacity: 0;
    transition: all .5s;
}

.menu-bar.active span:nth-child(3) {
	transform: rotate(-45deg) translateX(6px) translateY(-4px);
    transition: all .5s;
} */



.mobile-menu {
	/* position: absolute; */
	left: -300px;
	width: 300px;
	background: #fff;
	z-index: 1;
	transition: all .5s;
	max-height: 100%;
	overflow-y: auto;
}

.mobile-menu.active {
    left: 0;
    transition: all .5s;
}
 

.mobile-menu-wrappar {
	position: fixed;
	z-index: 10;
	-webkit-backdrop-filter: blur(14px);
	backdrop-filter: blur(14px);
	width: 100%;
	opacity: 0;
	visibility: hidden;
	height: 100vh;
}

/* ------- something wrong -------- */


body.menu-active .mobile-menu-wrappar {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

body.menu-active {
	overflow: hidden;
}

.mobile-menu li{
    margin-bottom: 8px;
}

/* ................................. */



.tick-banner {
	background: linear-gradient(#03071250, transparent);
}

.sit-container {
    margin-bottom: 2px;
    margin-top: 8px;
}

/* bus sit disgin */


table td:first-child button {
	background: transparent;
	padding: 0;
}

.btn, button {
	/* display: inline-block; */
	border-radius: .5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

table td {
	@apply px-2 py-3;
}

table {
	width: 100%;
}

table button {
	background: #F7F8F8;
}

table td:first-child button {
	background: transparent;
	padding: 0;
}

/* ------------------------------------ */
table button {
    @apply p-2 w-full;
	background: #f7f8f8;
}

.seat-item{
    @apply flex flex-wrap justify-between;
}
.sit-btn.active{
    @apply bg-primary text-white;
}

.success-popup {
	position: fixed;
	min-height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
}
.success-popup.active{
	visibility: visible;
    opacity: 1;
}

.next-button[disabled] {
	opacity: .5;
}



@media all and (min-width:767px){
    .mobile-menu-wrappar {
        display: none !important;
    }
    body{
        overflow: visible !important;
    }
}


.counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }
